<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ladybug.libone" >

    <application>
        <meta-data
            android:name="com.ladybug.libtwo.LibOne"
            android:value="module_name" />

        <meta-data
            android:name="com.ladybug.libtwo.ServiceOne"
            android:value="module_service" />
    </application>

</manifest>