<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ux.ux">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".asynchronous.LooperActivity" />
        <activity android:name=".asynchronous.FutureActivity" />
        <activity android:name=".asynchronous.HandlerThreadActivity" />
        <activity android:name=".asynchronous.ServiceActivity" />
        <activity android:name=".asynchronous.IntentServiceActivity" />
        <activity android:name=".webview.AndroidCallJSActivity" />
        <activity android:name=".webview.JSCallAndroidActivity" />
        <activity android:name=".network.HttpActivity" />
        <activity android:name=".dp.ChainActivity" />
        <activity android:name=".plugins.ModuleActivity" />
        <activity android:name=".layout.SquareActivity" />
        <activity android:name=".surface.SurfaceViewCanvasActivity" />
        <activity android:name=".surface.SurfaceViewOpenGLActivity" />
        <activity android:name=".surface.GLSurfaceViewActivity" />
        <activity android:name=".surface.TextureViewActivity" />

        <service
            android:name=".asynchronous.AsyncService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>