<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.quack">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.android.quack.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.quack.asynchronous.LooperActivity" />
        <activity android:name="com.android.quack.asynchronous.FutureActivity" />
        <activity android:name="com.android.quack.asynchronous.HandlerThreadActivity" />
        <activity android:name="com.android.quack.asynchronous.ServiceActivity" />
        <activity android:name="com.android.quack.asynchronous.IntentServiceActivity" />
        <activity android:name="com.android.quack.asynchronous.ThreadPoolActivity" />
        <activity android:name="com.android.quack.webview.AndroidCallJSActivity" />
        <activity android:name="com.android.quack.webview.JSCallAndroidActivity" />
        <activity android:name="com.android.quack.network.HttpActivity" />
        <activity android:name="com.android.quack.network.NetworkStatusActivity" />
        <activity android:name="com.android.quack.dp.ChainActivity" />
        <activity android:name="com.android.quack.dp.DaggerActivity" />
        <activity android:name="com.android.quack.plugins.ModuleActivity" />
        <activity android:name="com.android.quack.views.SquareActivity" />
        <activity android:name="com.android.quack.surface.SurfaceViewCanvasActivity" />
        <activity android:name="com.android.quack.surface.SurfaceViewOpenGLActivity" />
        <activity android:name="com.android.quack.surface.GLSurfaceViewActivity" />
        <activity android:name="com.android.quack.surface.TextureViewActivity" />
        <activity android:name="com.android.quack.asynchronous.ANRActivity" />
        <activity android:name="com.android.quack.network.SocketActivity" />
        <activity android:name="com.android.quack.asynchronous.ThreadLocalActivity" />
        <activity android:name="com.android.quack.asynchronous.LockActivity" />
        <activity android:name="com.android.quack.asynchronous.AIDLActivity" />
        <activity android:name="com.android.quack.views.DiscoverActivity" />
        <activity android:name="com.android.quack.views.TabLayoutActivity" />

        <service
            android:name="com.android.quack.asynchronous.AsyncService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.android.quack.asynchronous.AsyncIntentService"
            android:exported="false" />
    </application>

</manifest>